.people-section {
  background: #0f1a33;
  padding: 20px;
  border-radius: 12px;
}

.people-section h3 {
  margin-bottom: 20px;
}

.people-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.person-card {
  background: #0f1a33;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.2s;
  /* min-width: 180px; */
}

.person-card:hover {
  transform: translateY(-4px);
  background: #132046;
}

.person-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.person-info p {
  margin: 0;
  font-size: 14px;
}

.person-info span {
  font-size: 12px;
  color: #9aa7c7;
}

.people-section,
.map-section {
  transition: 0.2s;
}

.people-section:hover,
.map-section:hover {
  transform: translateY(-3px);
}

/* hide edit icon */
.edit-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;
}
.delete-icon{
  position: absolute;
  right: 40px;
  top: 10px;
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;
}

/* show on hover */
.person-card:hover .edit-icon {
  opacity: 1;
}

.person-card:hover .delete-icon{
  opacity: 1;
}

/* input styling */
.person-info input {
  width: 100%;
  background: #0f1a2b;
  border: none;
  color: white;
  padding: 4px;
  border-radius: 6px;
}